body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.botui-message-content.text {
  line-height: 1.3;
  display: inline-block;
  height: auto;
  word-wrap: break-word;
}